body {
    background-color:rgb(230, 230, 250);
}

h1, h2 {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
  }

h3 {
    color:#6e648d;
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

h3 + p {
    font-size: 18.8px;
}

img {
    background-color: rgba(199,185,223, 0.5) 
}

footer {
    font-size: 16px;
}