/* Color Styles */
body {
    background-color:rgb(230, 230, 250);
}
/* Font Styles */
h1, h2 {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
  }

h3 {
    color:#6e648d;
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
  }

img {
    background-color: rgba(199,185,223, 0.5) 
}